@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0 none;
}

body {
    font-family: "Raleway", "sans-serif";
}

main {
    width: 1440px;
    margin: auto;
    padding: 0 50px;
}

.header {
    display: flex;
}

.footer {
    background-color: #F2F2F2;
    width: 100%;
    padding: 50px;
}
.footer a {
    text-decoration: none;
    display: block;
}
.footer a:visited {
    text-decoration: none;
    color:black;
}
.footer_container {
    display: grid;
    grid-template-columns: auto auto auto;
    line-height: 2rem;;
}