@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0 none;
}

body {
    font-family: "Raleway", "sans-serif";
}

main {
    width: 1440px;
    margin: auto;
    padding: 0 50px;
}
/* 
    HEADER
*/
.header {
    display: flex;
}

/* 
    HEBERGEMENTS
*/ 

/* .card_column { grid: col; }
.card_row { grid: row; } */

.hebergement_container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 2;
    align-items: start;
}

.card_horizontal {
    flex-direction: row;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    width: 240px;
    display:inline-block;
    background-color: white;
    padding: 5px 5px;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 5px;
}

.card_horizontal:hover {
    box-shadow: 0 10px 10px 4px rgba(0,0,0,0.2);
    cursor:pointer;
}

.card_horizontal img {
    height: 8rem;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    border-radius: 16px 16px 0 0;
    background-color: white;
    margin-bottom: 0.25rem;
}

.card_horizontal p {
    font-size: 0.9rem
}

.card_horizontal p {
    font-size: 0.9rem
}

.star_blue {
    color:#0065FC;
}
.star_grey {
    color: lightgrey;
}
.bold_price {
    font-weight: 700;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

/*
    FOOTER
*/
.footer {
    background-color: #F2F2F2;
    width: 100%;
    padding: 50px;
}
.footer a {
    text-decoration: none;
    display: block;
}
.footer a:visited {
    text-decoration: none;
    color:black;
}
.footer_container {
    display: grid;
    grid-template-columns: auto auto auto;
    line-height: 2rem;;
}