@media screen and (max-width: 600px) {
    
    /*
    HEADER
    */
    .header_logo  {
        width: 50%;
        order: 1;
    }
    .header_inscription {
        width: 50%;
        order: 2;
    }
    .header_navigation {
        width: 100%;
        order: 3;
        border-bottom: 2px solid #F2F2F2;
    }
    .header_navigation_item_1:hover {
        color:#0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: none;
    }
    .header_navigation_item_2:hover {
        color:#0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: none;
    }
    .header_navigation_item_3:hover {
        border-top: none;
    }

    /*
    SEARCH_FILTERS AND BUTTONS
    */
   /*  .search_filters_container {
        padding: 5px;
    } */
    #search_text {
        display: none;
    }
    #search_map_icon {
        width: 15%;
    }
    #search_search_icon {
        display: block;   
    }
    #input_city {
        width: 70%;
    }
    #search_button {
        border-radius: 15px;
        width: 15%;
    }
    .filters_button {
        flex-direction: column;
        flex-wrap: wrap;
        /* font-size: 0.9rem; */
    }
    #filters_title {
        width: 100%;
    }
    .filters_button {
        margin-left: 0;
    }


    /*
    ACTIVITES MARSEILLE
    */
    #activites_container {
        flex-direction: column;
        padding: 10px;
    }

    .activites_container_card_single {
        width: 98%;
        margin-bottom: 20px;
    }
   
    .activites_container_card_double {
        width: 98%;
        margin-bottom: 20px;
    }
    #activites_container_card_double_02 {
        margin-bottom: 0;
    }
    .activites_container_card_double_item {
        margin-bottom: 20px;
    }

    /*
    FOOTER
    */
    .footer_container {
        flex-direction: column;
        width: 100%;
    }
    .footer_item {
        width: 100%;
        margin-bottom: 2rem;
    }
}