@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0 none;
}

body {
    font-family: "Raleway", "sans-serif";
}

main {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 0 3rem;
}
/* 
    HEADER
*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1rem;
}

.header_logo {
    margin-top: 2rem;
}

.header_navigation ul {
    list-style-type: none;
    display: flex;

}

.header_navigation li {    
    margin-right: 2rem;
}
.header_navigation a {
    padding-top: 35px;
    padding-left: 10px;
    padding-bottom: 3px;
    line-height: 20px;
    text-decoration: none;
    font-size: 1.3em;
}

.header_navigation a:hover {
    padding-top: 2.5rem;
    border-top: 2px solid #0065FC;
    color: #0065FC;
    line-height: 1.2rem;
}

.header_nav_blue {
    color: #0065FC;
    font-weight: 700;
}




/*
    FOOTER
*/
.footer {
    background-color: #F2F2F2;
    width: 100%;
    padding: 50px;
}
.footer a {
    text-decoration: none;
    display: block;
}
.footer a:visited {
    text-decoration: none;
    color:black;
}
.footer_container {
    display: grid;
    grid-template-columns: auto auto auto;
    line-height: 2rem;;
}